{% load static %}

<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static "homepage.css" %}">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
              <center>
                <h1>N°13 WAREHOUSE</h1>
                  <form action="{% url "home-page" %}" method="post">
                      {% csrf_token %}
                      {{ serach_form }}
                      <br /><br />
                      <input type="submit" value="Search">
                  </form>
              </center>
            </div>
            <div class="col-md-4">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>